<meta charset="utf-8">
<style type="text/css">
	/*-------DEL-------*/
	body {
		font-family: "Arial Black", Gadget, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100vh;
	}
	/*-------DEL-------*/
    #mascot {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        width: 320px;
        position: relative;
        background-image: url(forest2.png);
        background-size: 110% 110%;
        background-position: 50% 50%;
        overflow: hidden;
    }
    #mascot img {
        width: 300px;
    }
    #mascot #mas-controls {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: row;
    }
    #mascot #mas-controls .btn {
        color: white;
        padding: 10px;
        margin: 0px 3px;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        position: relative;
    }
        #mascot #mas-controls .btn.foods {background: #46B2CA;}
        #mascot #mas-controls .btn.games {background: #EA8679;}
        #mascot #mas-controls .btn.home {background: #47D780;}
    #mascot #mas-controls .btn a {
        color: white;
        text-decoration: none;
    }

    #mascot #mas-popup {
    	position: absolute;
    	width: 140px;
    	height: 50px;
    	top: 150px;
    	left: 15px;
    	background: white;
    	border-radius: 3px;
    	display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		transition: 1s;
		cursor: pointer;
		user-select: none;
    }
    	#mascot #mas-popup:before {
    		content: "";
    		position: absolute;
    		top: 50px;
    		height: 0px;
    		width: 0px;
    		border: solid 10px;
    		border-color: white white transparent transparent;
    		right: 8px;
    	}

    .bages:after {
    	content: attr(count);
    	position: absolute;
    	width: 20px;
    	height: 20px;
    	border-radius: 100px;
    	background-color: red;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	font-size: 10px;
    	top: -9px;
		right: -4px;
		z-index: 2;
    }

    .shake {
    	animation: shake .2s infinite linear reverse;
    }
    	@keyframes shake{
    		from { transform: translateX(-1px); }
    		to { transform: translateX(1px); }
    	}
</style>

<div id='mascot'>
    <div id='mas-popup' style='display: none; opacity: 0;' type='others'></div>
    <img src='pers1.png'>
    <div id='mas-controls'>
        <div class='btn foods bages' count='0'>Покормить</div>
        <div class='btn games bages' count='0'>Поиграть</div>
        <div class='btn home'>
            <a href='https://www.figma.com/proto/8QswJOUiCH6rmm0LzEIwYn/Untitled?node-id=41%3A2&scaling=min-zoom&page-id=0%3A1'
               target='_blank' >
                В комнату
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
	const min_delay = 2000;
	const max_delay = 3000;
	const shake_duration = 300;
	const messages = {
		"games": [
	    	"Мне скучно", 
	    	"Поиграй со мной", 
	    	"Время играть!", 
	    	"Мячик?"
	    ],
	    "foods": [
	    	"Хочу кушать", 
	    	"Время перекусить", 
	    	"Кууушать!!!!", 
	    	"Пора кушать", 
	    	"Я голоден"
	    ]
	};
	const sarcasm = [
		"sarcasm",
		"сарказм",
		"@!#?@!",
		"F"
	];

	function _feed() {
		// TODO:
		// update data on databse
		console.log("_feed");

		var node = document.querySelector("#mas-controls .foods"),
			count = parseInt(node.getAttribute("count"));

		if (count == 0) {
			node.classList.toggle("shake");
            sadPP();
			setTimeout(()=>{node.classList.toggle("shake")}, shake_duration);
		} else {
            hidePP();
        }

		node.setAttribute("count", (count-1 <= 0) ? 0 : count-1);
	}
	function _play() {
		// TODO:
		// update data on databse
		console.log("_play");

		var node = document.querySelector("#mas-controls .games"),
			count = parseInt(node.getAttribute("count"));

		if (count == 0) {
			node.classList.toggle("shake");
            sadPP();
			setTimeout(()=>{node.classList.toggle("shake")}, shake_duration);
		} else {
            hidePP();
        }

		node.setAttribute("count", (count-1 <= 0) ? 0 : count-1);
	}

    function sadPP() {
        setPPmsg(sarcasm[getRnd(0,sarcasm.length)])
        setTimeout(hidePP, 1000);
    }

    function showPP(text="42", type="others") {
    	var popup = document.querySelector("#mas-popup");

    	popup.innerText = text;
    	popup.style.display = "flex";
    	popup.setAttribute("type", type);

    	setTimeout(()=>{ popup.style.opacity = 1; }, 10)
    }

    function hidePP() {
    	var popup = document.querySelector("#mas-popup");

    	popup.style.opacity = 0;

    	setTimeout(()=>{ popup.style.display = "none"; }, 500)
    }

    function getRnd(min, max) { return parseInt(Math.random()*max + min); }

    function PPmsg() {
    	let key = Object.keys(messages)[getRnd(0,Object.keys(messages).length)];

    	return {
    		text: messages[key][getRnd(0,messages[key].length)],
    		type: key
    	}
    }

    function setPPmsg(text) {
    	var popup = document.querySelector("#mas-popup");
    	popup.innerText = text;
    }

    function PPtype() {
    	return document.querySelector("#mas-popup").getAttribute("type");
    }

    function newMsg() {
    	let msg = PPmsg();
    	setTimeout(showPP, getRnd(min_delay,max_delay), msg.text, msg.type);
    }

    function bindActions() {
    	let controls = document.querySelectorAll("#mas-controls .btn");
    	for (node of controls) {
    		node.addEventListener("click", (ev)=>{
    			let cl = event.target.classList;
    			if ( cl.contains(PPtype()) ) {
    				if (PPtype() == "games") { _play(); }
    				else { _feed() };

    				newMsg(); // DEL
    			}
    		})
    	}

    	let popup = document.querySelector("#mas-popup");

    	popup.addEventListener("click", (ev)=>{
    		sadPP();
			newMsg(); // DEL
    	})
    }

    window.addEventListener("load", (ev)=>{
    	bindActions();
    	newMsg(); // DEL
    })
</script>